<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Profile | Account Spaces</title>
  <link rel="stylesheet" href="/webjars/materializecss/1.0.0/css/materialize.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/my-profile.css"/>
</head>
<body>
<div th:replace="~{ component/navbar.html :: mainNavbar}"></div>

<section id="basic-information-form" class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Basic Information</span>
        <form method="post" action="/account-spaces/my-profile/basic-information" accept-charset="UTF-8"
              th:object="${basicInformationForm}">
          <div class="row">
            <div class="input-field col s6">
              <input id="name" name="name" th:field="*{name}" th:errorclass="invalid" type="text">
              <label for="name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="lastname" name="name" th:field="*{lastname}" th:errorclass="invalid" type="text">
              <label for="lastname">Last Name</label>
            </div>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <div class="row">
            <div class="input-field col s12">
              <textarea placeholder="Write about yourself!" id="summaryProfile" name="summaryProfile"
                        th:field="*{profileSummary}" th:errorclass="invalid" class="materialize-textarea" rows="6"
                        cols="20" data-length="200"></textarea>
              <label for="summaryProfile">Profile Summary</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-content">
              <button class="btn waves-effect waves-light" type="submit" name="action">
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="change-password-form" class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Change Password</span>
        <form method="post" action="/account-spaces/change-passwords" accept-charset="UTF-8"
              th:object="${changePasswordForm}">
          <div class="row">
            <div class="input-field col s12">
              <input id="currentPassword" name="currentPassword" th:field="*{password}" th:errorclass="invalid"
                     type="password" class="validate">
              <label for="currentPassword">Current Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="newPassword" name="newPassword" th:field="*{newPassword}" th:errorclass="invalid"
                     type="password" class="validate">
              <label for="newPassword">New Password</label>
            </div>
          </div>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <div class="row">
            <div class="col s12 center-content">
              <button class="btn waves-effect waves-light" type="submit" name="action">
                Change Passwords
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section id="delete-account-form" class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Settings</span>
        <button data-target="deleteMyAccountModal" class="btn modal-trigger">Delete my account</button>
        <div id="deleteMyAccountModal" class="modal">
          <div class="modal-content">
            <h4>Account deletion</h4>
            <p>Are you sure you want to delete your account? All your data will be lost.</p>
          </div>
          <div class="modal-footer">
            <form action="/account-space/delete-account" method="post" accept-charset="UTF-8">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              <button class="btn waves-effect waves-light" type="submit" name="action">
                Delete my account
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/webjars/materializecss/1.0.0/js/materialize.min.js"></script>
<script src="/js/sidenav.js" type="text/javascript"></script>
<script src="/js/dashboard.js" type="text/javascript"></script>
<script src="/js/profile.js" type="text/javascript"></script>
</body>
</html>